package {{.ServicePackage}}

import (
	{{- range .ImportPackages}}
	{{.}}
	{{- end}}
)

type {{ .ServiceNameInner }}Service struct {}

func (si *{{.ServiceNameInner}}Service) init() {

}

{{- range .Methods}}
func (si *{{ $.ServiceNameInner }}Service ) {{.}} { panic("impl me")}
{{- end}}