handler.container.Set(
    handler.container.EncodeKey("{{.HttpMethod}}", "{{.HttpMethodPath}}"),
    func(w http.ResponseWriter, r *http.Request) {
	    ctx, request := handler.tier.Before{{.MethodName}}Request(r)
	    response, err := handler.service.{{.MethodName}}(ctx, request)
	    handler.tier.After{{.MethodName}}Response(w, response, err)
})