type {{.ServiceName}}Service interface {
    {{- range .Methods}}
	{{.}}
	{{- end}}
}

type {{.ServiceName}}ServiceTier interface {
    {{- range .TierMethods}}
	{{.}}
	{{- end}}
}

type {{.ServiceName}}ServiceContainer interface {
    Set(key string, runner  func(w http.ResponseWriter, r *http.Request))
    Get(key string) (func(w http.ResponseWriter, r *http.Request), bool)
    ToMap() map[string]http.HandlerFunc
    EncodeKey(method, path string) string
    DecodeKey(key string) (string, string, error)
}
