func (model *{{ .MessageTypeName}}) Get{{.FieldName}}() ({{.FieldType}}, error) {
    {{- if .LazyLoad}}
    if model.inner{{.FieldName}} != nil {
        return model.inner{{.FieldName}}, nil
    }
    {{- end}}
    {{- if .IsSlice}}
    data := make({{.FieldType}}, 0)
    {{- else}}
    data := new({{.FieldTypeRaw}})
    {{- end}}
    if err := json.Unmarshal([]byte(model.{{.FieldName}}), data); err != nil {
        return nil, err
    }
    {{- if .LazyLoad}}
    model.inner{{.FieldName}} = data
    return model.inner{{.FieldName}}, nil
    {{else}}
    return data, nil
    {{- end}}
}

func (model *{{ .MessageTypeName}}) Set{{.FieldName}}(data {{.FieldType}}) error {
    if data == nil {
        return nil
    }
    ds, err := json.Marshal(data)
    if err != nil {
        return err
    }
    model.{{.FieldName}} = string(ds)
    {{- if .LazyLoad}}
    model.inner{{.FieldName}} = data
    {{- end}}
    return nil
}
