func (b *basicRepo) Insert(ctx context.Context, container *{{.ModelType}}, data map[string]interface{}) error {
	cols, values := make([]string, len(data)), make([]interface{}, len(data))
	index := 0
	for key, value := range data {
		cols[index] = key
		values[index] = value
		index++
	}
	builder := new(squirrel.StatementBuilderType).PlaceholderFormat(container.Placeholder())
	sql, args, err := builder.Insert(container.TableName()).Columns(cols...).Values(values...).ToSql()
	if err != nil {
		return err
	}
	_, err = b.Exec(ctx, container.TableName(), sql, args...)
	return err
}
