package {{.RdbRepoPackage}}

import (
	"context"
    {{- if not .IsModelAnotherPackage}}
	{{.ModelPackageAlias}} "{{.ModelPackage}}"
	{{- end}}
	{{- if not .IsRepoAnotherPackage}}
	{{.RepoPackageAlias}} "{{.RepoPackage}}"
	{{- end}}
)

type engine struct{}

func (rdb *engine) FetchOne(ctx context.Context, table, sql string, args ...interface{}) ({{.FetchOneReturnType}}, error) {
	//TODO implement me
	panic("implement me")
}

func (rdb *engine) FetchAll(ctx context.Context, table, sql string, args ...interface{}) ({{.FetchAllReturnType}}, error) {
	//TODO implement me
	panic("implement me")
}

func (rdb *engine) Exec(ctx context.Context, table, sql string, args ...interface{}) (int64, error) {
	//TODO implement me
	panic("implement me")
}

func (rdb *engine) Count(ctx context.Context, table, sql string, args ...interface{}) (int64, error) {
	//TODO implement me
	panic("implement me")
}

type RdbRepo{{.ModelType}} struct {
	engine
	basicRepo
}

func New{{.ModelType}}Repo() {{.RepoPackageAlias}}.Repo {
	eg := engine{}
	basic := basicRepo{engine: eg}
	return &RdbRepo{{.ModelType}}{basicRepo: basic, engine: eg}
}
