func (b *basicRepo) UpdateBy{{.KeyNameCombine}}(ctx context.Context, data map[string]interface{}, container *{{.ModelType}}) error {
	cond := squirrel.Eq{
	    {{- range .Params}}
	    container.GetCol{{.FieldName}}(): container.{{.FieldName}},
	    {{- end}}
	}
	builder := new(squirrel.StatementBuilderType).PlaceholderFormat(container.Placeholder())
	sql, args, err := builder.Update(container.TableName()).SetMap(data).Where(cond).ToSql()
	if err != nil {
    		return err
    }
    _, err = b.Exec(ctx, container.TableName(), sql, args...)
    return err
}
