func (b *basicRepo) FindBy{{.KeyNameCombine}}(ctx context.Context, container *{{.ModelType}}) ({{.FetchReturnType}}, error) {
	cond := squirrel.Eq{
	    {{- range .Params}}
	    container.GetCol{{.FieldName}}(): container.{{.FieldName}},
	    {{- end}}
	}
	builder := new(squirrel.StatementBuilderType).PlaceholderFormat(container.Placeholder())
	sql, args, err := builder.Select(container.AllCols()...).From(container.TableName()).Where(cond).ToSql()
	if err != nil {
		return nil, err
	}
	return b.{{.FetchFuncName}}(ctx, container.TableName(), sql, args...)
}
