func (b *basicRepo) DeleteBy{{.KeyNameCombine}}(ctx context.Context, container *{{.ModelType}}) error {
	cond := squirrel.Eq{
	    {{- range .Params}}
	    container.GetCol{{.FieldName}}(): container.{{.FieldName}},
	    {{- end}}
	}
	builder := new(squirrel.StatementBuilderType).PlaceholderFormat(container.Placeholder())
	sql, args, err := builder.Delete(container.TableName()).Where(cond).ToSql()
	if err != nil {
		return err
	}
	_, err = b.Exec(ctx, container.TableName(), sql, args...)
	return err
}
